<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Welcome to The TodoLister</title>
  <meta charset="utf-8">
  <script src="jquery-3.5.1.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <p class="mb-2"><span class="h2 me-2">Personal List</span> <span class="badge bg-danger">checklist</span></p>
            <p class="text-muted pb-2">You've Got This!</p>

            <ul class="list-group rounded-0">
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." checked />
                <s>Task list and assignments</s>
              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Set due date and assignments
              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Remove duplicate tasks and stories
              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Update the userflow and stories
              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Adjust the components
              </li>
            </ul>
            <br />

            <form>
            <div class="row align-items-center">
              <div class="col-11">
                <input type="text" class="form-control mb-0" placeholder="Enter New Item">
              </div>
              <div class="col-1">
                <button type="submit" class="btn btn-primary mb-0 rounded-circle float-center">+</button>
              </div>
            </div>
          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>
